@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Average Sans', sans-serif;
  background-color: #F0F0F0;
  color: #33312E;
  width: 100%;
}

body {
  width: 60%;
  margin: 0 auto;
  font-size: 1.3vw;
  padding-bottom: 100px; /* Add bottom padding here */
  box-sizing: border-box; /* Ensure padding is included in the total height */
}

h1 {
  font-size: 3vw;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.section {
  margin: 40px 0;
}

ul {
  padding-right: 40px;
}

.top-box {
    width: 100%;
    height: 10vh; /* Adjust height as needed */
    background: linear-gradient(to right, #5DA399, #42858C);
}

.link {
  color: #161B33;
  font-weight: bolder;
}

.myImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
